
.about .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.about .container h1{
  margin-top: 10px;
}
.about .container .mainbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px 0px;

}
.about .container .mainbox .box-1{
    width: 450px;
    height: 500px;
    overflow: hidden;
    margin: 0px 50px;
}
.about .container .mainbox .box-1 img{
    width: 100%;
    height: 100%;
}
.about .container .mainbox .box-1 img:hover {
    transform: scale(1.1);
  }
  .about .container .mainbox .box-2{
      width: 600px;
      height: 500px;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  .box-2 h1{
      font-size: 40px;
  }
  
  .box-2 p{
      color: var(--white-color);
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 60px;
  }
  .bold{
      font-weight: bold;
      font-size: 30px;
  }
  .box-2 .details{
      margin-right: auto;
  }
  .box-2 .details p{
      font-size: 20px;
      margin: 13px 0px;
  }
  .box-2 .details button{
      margin: 30px 0px;
      width: 210px;
  }
  .box-2 .details button a{
      font-size: 18px;
      padding: 5px;
  }

 
@media(max-width:1143px){
    .about .container .mainbox .box-2{
        margin-top: 60px;
    }
}
@media(max-width:680px){
    .about .container .mainbox .box-1{
        width: 60%;
        height: 400px;
    }
    .about .container .mainbox .box-2{
        width: 80%;
    }
}
@media(max-width:450px){
    .about .container .mainbox .box-1{
       
        height: 300px;
    }
    
}