

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.contact .container h1{
    margin: 50px auto;

}
.contact .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.contact .container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contact .container .row .box{
    width: 300px;
    height: 100px;
    background: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    position: relative;

}
.contact .container .row .box p{
    color: var(--white-color);
    font-size: 20px;
} 
.contact .container .row .box img{
    width: 45px;
    height: 45px;
    position: absolute;
    top: -25px;  
}
.contact .container .row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 90px;
    
}
.contact .container .row-1 .box-1{
    width: 400px;
    margin: 10px 10px;
    margin-top: -110px;
}
.contact .container .row-1 .box-2{
    width: 650px; 
    margin: 10px 10px;
   
}
  
.contact .container .row-1 .box-1 p{
    font-size: 20px;
    color: var(--white-color);
    margin: 30px 10px;
}
.contact .container .row-1 .box-1 .icon{
    display: flex;
    margin: 30px 0px;
   }
   .contact .container .row-1 .box-1 .icon a{
       margin: 0px 15px;
   }
   .contact .container .row-1 .box-1 .icon a img{
    width: 40px;
    height: 40px;
    transition: 0.5s;
}
.contact .container .row-1 .box-1 .icon a img:hover{
    width: 50px;
    height: 50px;
}

.contact .container .row-1 h3{
    color: var(--white-color);
    font-size: 30px;
    margin: 30px 10px;
}
.contact .container .row-1 h3:nth-child(1){
    margin-top: 30px;
}
.contact .container .row-1 .box-2 form{
    margin: auto;
}

.contact .container .row-1 .box-2 input{
    width: 40%;
    height: 50px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    
}
.contact .container .row-1 .box-2 input:nth-child(3){
    width: 84%;
}
.contact .container .row-1 .box-2 textarea{
    width: 84%;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.contact .container .row-1 .box-2 button{
    width: 20%;
    height: 40px;
    margin: 10px;
    font-size: 16px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    transition: 1s;
    cursor: pointer;
}
    

@media(max-width:1144px){
    .contact .container .row-1{
        flex-direction: column-reverse;
        margin-left: 20px;
    }
    .contact .container .row-1 .box-1{
        margin-top: 0px;
        width: 98%;
    }
    .contact .container .row-1 .box-2{
        width: 98%;
    }  
    .contact .container .row-1 .box-2 input{
        width: 84%;
    }
    .contact .container .row-1 .box-2 textarea{
        width: 84%;
    }
}